/*header*/

header {
    margin-left: 7vw;
    color: rgb(132, 154, 62);
    display: flex;
    height: max(6rem, 10vh);
}

header section {
    display: flex;
    margin: auto 0;
}

header section h1 {
    font-size: 2.3vw;
}

header section h1 span {
    font-size: 1.65vw;
    font-weight: lighter;
}

header section img {
    width: 5vw;
    height: 5vw;
    font-size: 2.3vw;
    margin-right: 1vw;
}


/*barra lateral izquierda*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4.5vw;
    background-color: rgb(47, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu img {
    width: 70%;
    filter: invert(40%) sepia(100%) hue-rotate(24grad) saturate(300%);
}


/*contenido*/

main {
    margin-left: 7vw;
    display: flex;
    height: 90vh;
    flex-direction: row;
}

.kitchen {
    margin-bottom: 0.5rem;
}

.kitchen img {
    width: 15vw;
}


/*sroll de imagenes*/

.kitchens {
    width: 16.5vw;
    height: 80vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: scroll;
    padding: 0 0.65rem;
    direction: rtl;
}

.kitchens::-webkit-scrollbar {
    width: 0.4rem;
}

.kitchens::-webkit-scrollbar-thumb {
    background-color: rgb(47, 47, 47);
    border-radius: 0.5rem;
}

.contenido {
    width: 84%;
    background-color: rgb(234, 234, 234);
    margin-left: 2.55vw;
}